body{
  font-family: "Lato";
}

.widget {
  text-align: center;
}

.widget h1, .widget h2 {
  color: #0A0B01;
}

.widget h1 {
  font-size: 28px;

}

.widget h2 {
  font-size: 78px;
  margin: 12px 0 12px;
  line-height: 78px;
}

li{
    list-style: none;
	background-color: white;
}