body{
  font-family: "Lato";
}

.widget {
  text-align: center;
}

.widget h1, .widget h2 {
  color: #ECF0F1;
}

.widget h2 {
  font-size: 78px;
  margin: 0px;
}

.color.zeroclipboard-is-hover,.color:hover{opacity:0.8;}.color.zeroclipboard-is-hover header,.color:hover header{display:block;}
.color.turquoise{background:#1ABC9C;}
.color.green-sea{background:#16A085;}
.color.emerland{background:#2ECC71;}
.color.nephritis{background:#27AE60;}
.color.peter-river{background:#3498DB;}
.color.belize-hole{background:#2980B9;}
.color.amethyst{background:#9B59B6;}
.color.wisteria{background:#8E44AD;}
.color.wet-asphalt{background:#34495E;}
.color.midnight-blue{background:#2C3E50;}
.color.sun-flower{background:#F1C40F;}
.color.orange{background:#F39C12;}
.color.carrot{background:#E67E22;}
.color.pumpkin{background:#D35400;}
.color.alizarin{background:#E74C3C;}
.color.pomegranate{background:#C0392B;}
.color.clouds{background:#ECF0F1;color:#bdc3c7;}
.color.silver{background:#BDC3C7;}
.color.concrete{background:#95A5A6;}
.color.asbestos{background:#7F8C8D;}